.hero__content {
    padding-top: 70px;
}

.hero__title {
    font-size: 2.5rem;
    line-height: 55px;
}

.hero__title span {
    color: var(--primary-color);
}

.hero__content p {
    font-size: 1rem;
    line-height: 30px;
    color: #777;
}

.hero__btns button {
    border: none;
    outline: none;
    padding: 7px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
}

.order__btn {
    background: var(--primary-color);
    color: var(--white-color);
    transition: 0.3s;
}

.order__btn:hover {
    background: var(--text-color);
}

.all__foods-btn {
    background: transparent;
    border: 1px solid var(--primary-color) !important;
}

.all__foods-btn a {
    color: var(--primary-color);
}

.hero__service p {
    color: var(--text-color);
    font-weight: 600;
    font-size: 0.9rem;
}

.shipping__icon i {
    padding: 5px;
    background: var(--primary-color);
    color: var(--white-color);
    border-radius: 50%;
    font-weight: 500 !important;
}
